.basicdetailscontainer{
    display:flex;
    flex-direction: column;
}
.basicdetailscontainer h2{
    padding-top: 10px;
    text-align: center;
}
.basicdetailscontainer h4{
    padding-top: 10px;
    text-align: center;
    font-size: large;
}
.basicdetailscontainer p{
    text-align: center;
    font-style: italic;
    padding-top: 10px;
}
.coursedetail{
    display:flex;
    margin:10px 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.coursedetail input{
    border-radius: 10px;
    padding:2px 10px;
    margin-left: 8px;
    width:350px;
    margin-bottom: 6px;
}
.co_container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.co_container h3{
   padding:10px 25px;
    font-weight: 100px;
}
.co_container p{
    padding:8px 30px;
    
    font-weight: 100px;
}
.co_container input{
    margin-left: 75px;
}

.commmonfeedback_container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.commonfeedback_container h3{
   
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 20px;
   font-weight: 100px;
}
.commonfeedback_container p{
    padding:8px 30px;
    font-weight: 100px;
}
.commonfeedback_container input{
    margin-left: 75px;
}
.commonfeedback_container textarea{
    margin:5px 40px;
    width: 90%;
    height:150px;
    border-radius: 15px;
    padding:8px 10px;
    font-size: larger;
}
.commonfeedback_container button{
    text-decoration: none;
    margin-top: 8px;
    background-color: black;
    color:azure;
    padding:5px 25px;
    border-radius:20px;
    margin-left: 60px;
    margin-bottom: 75px;
}

.commonfeedback_container button:hover{
    background-color: rgb(15, 15, 15);
    color:bisque
}
@media screen and (max-width: 600px) {
    
    .coursedetail{
        justify-content: center;
    }
  }
