.contactus_container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.contactus_container p{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}
.contactus_form{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    width: 25%;
    height: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px 0px 0px 8px;
    
}
.contactus_form_content h5{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight:500;
    margin-bottom: 10px;
}
.contactus_component{ 
    width: 230px;
}
.contactus_component_button{
    width: 100%;
    margin-top: 15px;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    text-align: center;


}
.contactus_component_button input{
    cursor: pointer;
    border-radius: 15px;
    width: 50%;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    padding: 7px;
    
}
.contactus_component_button input:hover{
    background-color:#bd524b ;
    border: 1px solid black;
    color: white;
}
.contactus_component input{
    margin: 5px auto;
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
.contactus_component textarea{
    margin-top: 10px ;
    margin-bottom: 5px;
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 2px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
}
.contactus{
    padding: 15px;
    width: 25%;
    height:403px;
    display: flex;
    color:white;
    font-weight: 400;
    flex-direction: column;
    align-items: left;
    /* justify-content: center; */
    background-color: rgb(0,0,0,0.7);
    border-radius: 0px 8px 8px 0px;  
}
.contactus h4{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight:450;
    margin-bottom: 30px;
    color:white;
}
.component{
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    gap: 5px;
    color:#bd524b;
}

.component strong{
    color: #bd524b;
    font-weight: 450;
    font-size: 12px;
}
.component p{
    font-size: 12px;
    text-align: center;
    padding-top: 3.5px;
    color:whitesmoke;
}