.my_navbar{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 75px;
    color: beige;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:30px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.my_navbar h3{
    cursor: hand; 
}
.my_navbar h3:hover{
    color:#bd524b;
}
.menubar{
    font-size: 16px;
    font-weight: 400;
    padding-right: 30px;
    display: inline-flex;
    color: beige; 
    gap: 40px;
}

.menubar a{
    color: white;
    text-decoration: none;
}
.menubar a:hover{
    color:#bd524b;
    
}
@media screen and (max-width: 600px) {
    .menubar{
        display: none;
    }
    .my_navbar{
        justify-content: center;
    }
  }
