.my_navbar{
    width: 100vw;
    height: 50px;
    background-color: black;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menubar{
    padding-right: 20px;
    display: flex;
    color: wheat; 
    gap: 30px;
}

.menubar a{
    color: azure;
    text-decoration: none;
}
.menubar a:hover{
    color:bisque;
}


@media screen and (max-width: 600px) {
    .menubar{
        display: none;
    }
    .my_navbar{
        justify-content: center;
    }
  }
